psutil>=5.9.8
pillow>=10.3.0
opencv-python>=4.8.0
pyobjc>=10.0; sys_platform == "darwin"
pyobjc-framework-Cocoa>=10.0; sys_platform == "darwin"
pyobjc-framework-Quartz>=10.0; sys_platform == "darwin"
